

* {
    box-sizing: border-box;
}

body {
    background-color: #516dff
    color: white;
    font-family: ljisudvncdifnarisduncrajknseidcrkljubhnscjkldfsh
    height: 100vh;
    overflow: hidden;
    text-align: center;
    
}